{% extends 'base.html' %}

{% block titulo %}
    Lista de plantel
{% endblock titulo %}

{% block contenido %}
<h1>Lista de plantel</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre plantel</th>
            <th>Domicilio</th>
            <th>Telefono</th>
        </tr>
    </thead>
        <tbody>
            {% for plantel in object_list %}
                <tr>
                    <td>{{plantel.id_plantel}}</td>
                    <td>{{plantel.nombre_plantel}}</td>
                    <td>{{plantel.domicilio}}</td>
                    <td>{{plantel.numero_telefono}}</td>
                    <td><a class="btn btn-sm btn-primary" 
                        href="{% url 'editar_plantel' plantel.id_plantel %}">
                        Editar
                    </a></td>
                     <td><a class="btn btn-sm btn-danger" 
                        href="{% url 'eliminar_plantel' plantel.id_plantel %}">
                        Eliminar
                   </a></td>
                    
                   
                </tr>
            {% endfor %}
        </tbody>
 </table>
    
{% endblock contenido %}
{% block scripts %}
{% endblock scripts %}
