{% extends 'base.html' %}

{% block titulo %}
    Lista de plantel
{% endblock titulo %}

{% block contenido %}
<h1>Lista de plantel</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre plantel</th>
            <th>Domicilio</th>
            <th>Telefono</th>
        </tr>
    </thead>
        <tbody>
            {% for plantel in object_list %}
                <tr>
                    <td>{{plantel.id_plantel}}</td>
                    <td>{{plantel.nombre_plantel}}</td>
                    <td>{{plantel.domicilio}}</td>
                    <td>{{plantel.numero_telefono}}</td>
                    
                   
                </tr>
            {% endfor %}
        </tbody>
 </table>
    
{% endblock contenido %}
{% block scripts %}
{% endblock scripts %}
