{% extends 'base.html' %}

{% block titulo %}
    Lista de plantel
{% endblock titulo %}

{% block contenido %}
<h1>Lista de plantel</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ap. Paterno</th>
            <th>Ap. Materno</th>
            <th>fecha_nacimiento</th>
            <th>plantel</th>
        </tr>
    </thead>
        <tbody>
            {% for encargado in object_list %}
                <tr>
                    <td>{{encargado.nombre}}</td>
                    <td>{{encargado.apellido_paterno}}</td>
                    <td>{{encargado.apellido_materno}}</td>
                    <td>{{encargado.fecha_nacimiento}}</td>
                    <td>{{encargado.plantel}}</td>
                    
                   
                </tr>
            {% endfor %}
        </tbody>
 </table>
    
{% endblock contenido %}
{% block scripts %}
{% endblock scripts %}
