{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>
        {% block titulo%}

        {% endblock titulo %}
    </title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9916d5;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Red_Storge</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Escuelas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'lista_planteles' %}">Lista planteles</a></li>
                      <li><a class="dropdown-item" href="{% url 'lista_grupos' %}">Lista grupos</a></li>
                      <li><a class="dropdown-item" href="{% url 'nuevo_grupo' %}">Nuevo grupo</a></li>
                      <li><a class="dropdown-item" href="{% url 'nuevo_plantel' %}">Nuevo plantel</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Preguntas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'lista_preguntas' %}">Lista preguntas</a></li>
                      <li><a class="dropdown-item" href="{% url 'nueva_pregunta' %}">Nueva pregunta</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Usuarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'lista_estudiantes' %}">Lista estudiantes</a></li>
                      <li><a class="dropdown-item" href="{% url 'nuevo_estudiante' %}">Nuevo estudiante</a></li>
                      <li><a class="dropdown-item" href="{% url 'lista_encargados' %}">Lista encargados</a></li>
                      <li><a class="dropdown-item" href="{% url 'nuevo_encargado' %}">Nuevo encargado</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
           
    </header>
    <div class="container">
        {% block contenido%}

        {% endblock contenido %}
    </div>
    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    
    {% block scripts %}
    
    {% endblock scripts %}
</body>
</html>
