{% extends 'base.html' %}

{% block titulo %}
    Lista de preguntas
{% endblock titulo %}
    

{% block contenido %}
    <h1>Lista de preguntas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>id_pregunta</th>
                <th>planteamiento</th>
                <th>id_modulo</th>
                <th>id_fase</th>
            </tr>
        </thead>
        <tbody>
            {% for pregunta in preguntas %}
                <tr>
                    <td>{{pregunta.id_pregunta}}</td>
                    <td>{{pregunta.planteamiento}}</td>
                    <td>{{pregunta.modulo}}</td>
                    <td>{{pregunta.fase}}</td>
                    <td><a class="btn btn-sm btn-primary" 
                            href="{% url 'editar_pregunta' pregunta.id_pregunta %}">
                            Editar
                        </a></td>
                    <td><a class="btn btn-sm btn-danger" 
                            href="{% url 'eliminar_pregunta' pregunta.id_pregunta %}">
                            Eliminar
                    </a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
